@model IEnumerable<Vidly2.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>No Customers Available.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customers</th>
                <th scope="col">Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            { 
                <tr>
                    <td scope="row">@Html.ActionLink(@customer.Name, "Show", "Customer", new { id = customer.Id }, null)</td>
                    <td scope="row">@customer.MembershipType.DiscountRate%</td>
                </tr>
            }
        </tbody>
    </table>
}

