@model Vidly2.Models.Customer
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
<p>@Model.Name</p>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.Birthdate != null)
    {
        <li>Birthdate: @Model.Birthdate.Value.ToShortDateString()</li>

    }
</ul>