<nav class="nav navbar navbar-expand navbar-dark bg-dark">
    @Html.ActionLink("Vidly", "Index", "Home", null, new { @class = "navbar-brand"})

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>